<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time chat</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/chat.css">
</head>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io({
        auth: {
            token: localStorage.getItem('token')
        }
    });

</script>
<body class="flex flex-col items-center justify-center min-h-screen">
    <div class="wrap__alert">

    </div>
    <div class="main bg-white p-8 rounded w-full flex">
        <div class="left-side mini-shadow w-1/4 bg-gray-100 p-4 rounded mr-4">
            <div class="menu-search mt-4 flex">
                <a href="#" class="a__svg-menu">
                    <svg viewBox="0 0 24 24" class="svg-menu" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 6H20M4 12H20M4 18H20" stroke="#3fa695" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </a>
                <form action="/search-users" method="post" class="search-form">
                    <input type="text" name="query" class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-200" placeholder="Search user with ID">
                </form>
            </div>

            <ul class="users  mt-3">
                
            </ul>
            <ul class="chats mt-3">

            </ul>
        </div>
        <!-- Основной контент чата -->
        <div class="w-3/4 inner-main">
            <div class="user-info mini-shadow flex justify-between items-center mb-2 rounded bg-gray-100 p-1">
                
            </div>
            <div class="chat-container">
                <div class="inner-chat-container mini-shadow overflow-y-auto p-4 border rounded">
          
                    <div class="mb-4 chat">
                        
                    </div>
                   
                </div>
            </div>
            <div class="wrap__form-send-message">

            </div>
        </div>
    </div>
    
    <!-- Выдвигающаяся шторка -->
    <div id="drawer" class="drawer">
        <div class="menu">
            <div class="inner-menu">
                <div class="text-menu">
                    <center>
                        <h4 class="menu-name">Menu</h4>
                    </center>
                </div>
                <div class="links">
                    <a href="/create-chat" class="menu-link create-chat-link">Create chat</a>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    if(!localStorage.token){
        window.location.href = '/registration'
    }

    socket.on('user message', (message) => {
        $('.chat').append(`
            <div class="wrap__my-message">
                <div class="my-message mb-2">
                    <p class="text-gray-700 message-text">${message.text}</p>
                    <li class="date-message">${new Date(message.date_created).toLocaleTimeString().slice(0, 5)}</li>
                </div>
            </div>
        `)

        let chatH = 0
        const myMesagesH = $('.chat > *')
        for(i of myMesagesH){
            chatH += $(i).height()
        }
        $('.inner-chat-container').scrollTop(chatH)
    })
    socket.on('chat message', (message, sender) => {
        $('.chat').append(`
            <div class="wrap__my-message">
                <div class="my-message mb-2">
                    <div class="name-container">
                        <p class="text-gray-700 message-text">${message.text}</p>
                    </div>
                    <li class="date-message">${new Date(message.date_created).toLocaleTimeString().slice(0, 5)}</li>
                </div>
            </div>
        `)

        let chatH = 0
        const myMesagesH = $('.chat > *')
        for(i of myMesagesH){
            chatH += $(i).height()
        }
        $('.inner-chat-container').scrollTop(chatH)
    })
    //      SOCKET END          //           //
    const url = window.location.href.split('/chat/')[1]

    $('.search-form').keydown(e => {
        setTimeout(() => {
            const form = $(e.currentTarget)
            
            $.ajax({
                url: "/search-users",
                method: 'post',
                data: form.serialize(),
                headers: {
                    'Authorization': `Bearer ${localStorage.token}`
                },
                success: res => {
                    $('.users > *').remove()
                    if(res.users.length > 0){
                        for(i of res.users){
                            if(i._id === url){
                                $('.users').append(`
                                <div class="get-user">
                                    <a href="/chat/${i._id}" class="user-btn active-user">${i.username}</a>
                                </div>
                            `)
                            }else{
                                $('.users').append(`
                                    <div class="get-user">
                                        <a href="/chat/${i._id}" class="user-btn user">${i.username}</a>
                                    </div>
                                `)
                            }
                        }
                    }else{
                        $('.users').append(`
                            <div class="not-found-search bg-amber-200">
                                <center>
                                    <h2>Not found...</h2>
                                </center>
                            </div>
                        `)
                    }
                }
            })
        }, 0)
    })

    $.ajax({
        url: `/user-data/${url}`,
        method: 'get',
        headers: {
            'Authorization': `Bearer ${localStorage.token}`
        },
        success: res => {
            if(res.messages){
                if(res.messages.length > 0){
                    for(i of res.messages){
                        if(i.sender === res.userNow){
                            $('.chat').append(`
                            <div class="wrap__my-message">
                                <div class="my-message mb-2">
                                    <p class="text-gray-700 message-text">${i.text}</p>
                                    <li class="date-message">${new Date(i.date_created).toLocaleTimeString().slice(0, 5)}</li>
                                </div>
                            </div>
                        `)
                        }else{
                            $('.chat').append(`
                                <div class="wrap__user-message">
                                    <div class="user-message mb-2">
                                        <p class="text-gray-700 message-text">${i.text}</p>
                                        <li class="date-message">${new Date(i.date_created).toLocaleTimeString().slice(0, 5)}</li>
                                    </div>
                                </div>
                            `)
                        }
                    }
                    
                    

                }
                $('.user-info > *').remove()
                $('.wrap__form-send-message > *').remove()
    
                //         OTHER  
                $('.user-info').addClass('mb-2')
                $('.chat-container').addClass('mb-2')
    
    
                $('.user-info').append(`
                    <h1 class="text-2xl">${res.recipient.username}</h1>
                    <div class="flex items-center">
                        <p>@${res.recipient.uniqueUsername}</p>
                    </div>
                `)
    
                $('.wrap__form-send-message').append(`
                    <form class="form-send-message flex items-center" method="post" action="/send-message/${res.recipient._id}">
                        <input type="text" name="message" class="input-send mini-shadow appearance-none border rounded w-full px-4 text-gray-700 mr-4 leading-tight focus:outline-none" placeholder="Message...">
                        <button type="submit" class="button-send-message mini-shadow text-white font-bold px-4 rounded focus:outline-none w-1/4">Send</button>
                    </form>
                `)
            
               
    
                let chatH = 0
                const myMesagesH = $('.chat > *')
                for(i of myMesagesH){
                    chatH += $(i).height()
                }
                $('.inner-chat-container').scrollTop(chatH)
    
                $('.form-send-message').submit(e => {
                    e.preventDefault()
                    const form = $(e.currentTarget)
               
                    $.ajax({
                        url: form.attr('action'),
                        method: 'post',
                        data: form.serialize(),
                        headers: {
                            'Authorization': `Bearer ${localStorage.token}`
                        },
                        success: res => {
                            if(res.ok){
                                socket.emit('user message', res.createdMessage)
                            
                                $('.input-send').val('')
                            }
                        }
                    })
                })
            }

            //     CHAT   CHAT     CHAT       CHAT            CHAT                CHAT                    CHAT
            else{
                for(let i = 0; i < res.chatData.length; i++){
                    if(res.chatData[i].sender._id === res.userNow._id || res.chatData[i].sender._id === res.userNow){
                        $('.chat').append(`
                        <div class="wrap__my-message">
                            <div class="my-message mb-2">
                                <p class="text-gray-700 message-text">${res.chatData[i].text}</p>
                                <li class="date-message">${new Date(res.chatData[i].date_created).toLocaleTimeString().slice(0, 5)}</li>
                            </div>
                        </div>
                    `)
                    }else{
                        $('.chat').append(`
                            <div class="wrap__user-message">
                                <div class="user-message mb-2">
                                    <div class="name-container">
                                        <p class="text-gray-500 message-text-name">${res.chatData[i].sender.username}</p>
                                        <p class="text-gray-700 message-text">${res.chatData[i].text}</p>
                                    </div>
                                    <li class="date-message">${new Date(res.chatData[i].date_created).toLocaleTimeString().slice(0, 5)}</li>
                                </div>
                            </div>
                        `)
                    }
                }
    
    
                $('.user-info > *').remove()
                $('.wrap__form-send-message > *').remove()
    
                $('.user-info').addClass('mb-2')
                $('.chat-container').addClass('mb-2')
    
                $('.user-info').append(`
                    <h1 class="text-2xl">${res.chatRecipient.chatName}</h1>
                    <div class="flex items-center">
                        <p>@${res.chatRecipient.uniqueChatName}</p>
                        
                    </div>
                `)
            
                
            
                $.ajax({
                    url: `/is-user-join-chat/${url}`,
                    method: 'get',
                    headers: {
                        'Authorization': `Bearer ${localStorage.token}`
                    },
                    success: res => {
                        if(res.ok === -2){
                            $('.wrap__form-send-message > *').remove()
                            $('.wrap__form-send-message').append(`
                                <div class="wrap-join-button">
                                    <button class="btn-join rounded">Join to chat</button>
                                </div>
                            `)
                            $('.btn-join').click(e => {
                                e.preventDefault()
                                $.ajax({
                                    url: `/join-chat/${url}`,
                                    method: 'get',
                                    headers: {
                                        'Authorization': `Bearer ${localStorage.token}`
                                    },
                                    success: res => {
                                        if(res.message){
                                            $('.wrap__alert').append(`
                                                <div class="alert-main bg-red-100 mb-4 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                                    <strong class="font-bold">Error:</strong>
                                                    <span class="block sm:inline">${res.message}</span>
                                                    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                                                        <svg class="svg-close fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                                                    </span>
                                                </div>
                                            `)
                                            $('.svg-close').click(e => {
                                                e.preventDefault()
                                                $('.wrap__alert').remove()
                                            })
                                        }else{
                                            socket.emit('join room', res.uniqueChatName)
                                            
                                            $('.wrap__form-send-message > *').remove()
                                            $('.wrap__form-send-message').append(`
                                                <form class="form-send-message flex items-center" method="post" action="/send-message/${url}">
                                                    <input type="text" name="message" class="input-send mini-shadow appearance-none border rounded w-full px-4 text-gray-700 mr-4 leading-tight focus:outline-none" placeholder="Message...">
                                                    <button type="submit" class="button-send-message mini-shadow text-white font-bold px-4 rounded focus:outline-none w-1/4">Send</button>
                                                </form>
                                            `)
                                            $('.form-send-message').submit(e => {
                                                e.preventDefault()
                                                const form = $(e.currentTarget)
                                
                                                $.ajax({
                                                    url: form.attr('action'),
                                                    method: "post",
                                                    headers: {
                                                        'Authorization': `Bearer ${localStorage.token}`
                                                    },
                                                    data: form.serialize(),
                                                    success: res => {
                                                        if(res.ok){
                                                            socket.emit('message room', res.room, res.createdMessage, res.sender)
                                
                                                            $('.input-send').val('')
                                                        }
                                                    }
                                                })
                                            })
                                            window.location.href = `/chat/${url}`   
                                        }
                                    }
                                })
                            })
                        }

                        else if(res.message){
                            $('.wrap__alert').append(`
                                <div class="alert-main bg-red-100 mb-4 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                    <strong class="font-bold">Error:</strong>
                                    <span class="block sm:inline">${res.message}</span>
                                    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                                        <svg class="svg-close fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                                    </span>
                                </div>
                            `)
                            $('.svg-close').click(e => {
                                e.preventDefault()
                                $('.wrap__alert').remove()
                            })
                        }

                        else{
                            $('.user-info').append(`
                            <button class="btn-leave rounded">Leave</button>
                        `)
                        $('.btn-leave').click(e => {
                            $.ajax({
                                url: `/leave/${url}`,
                                method: "get",
                                headers: {
                                    'Authorization': `Bearer ${localStorage.token}`
                                },
                                success: res => {
                                    if(res.message){
                                        $('.wrap__alert').append(`
                                            <div class="alert-main bg-red-100 mb-4 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                                <strong class="font-bold">Error:</strong>
                                                <span class="block sm:inline">${res.message}</span>
                                                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                                                    <svg class="svg-close fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                                                </span>
                                            </div>
                                        `)
                                    }else{
                                        window.location.href = `/chat/${url}`
                                    }                            
                                }
                            })
                        })
                        
                            //            //             //
                            $('.wrap__form-send-message > *').remove()
                            $('.wrap__form-send-message').append(`
                                <form class="form-send-message flex items-center" method="post" action="/send-message/${url}">
                                    <input type="text" name="message" class="input-send mini-shadow appearance-none border rounded w-full px-4 text-gray-700 mr-4 leading-tight focus:outline-none" placeholder="Message...">
                                    <button type="submit" class="button-send-message mini-shadow text-white font-bold px-4 rounded focus:outline-none w-1/4">Send</button>
                                </form>
                            `)
                            $('.form-send-message').submit(e => {
                            e.preventDefault()
                            const form = $(e.currentTarget)
            
                            $.ajax({
                                url: form.attr('action'),
                                method: "post",
                                headers: {
                                    'Authorization': `Bearer ${localStorage.token}`
                                },
                                data: form.serialize(),
                                success: res => {
                                    if(res.ok){
                                        socket.emit('message room', res.room, res.createdMessage, res.sender)
            
                                        $('.input-send').val('')
                                    }
                                }
                            })
                        })
                        }
                    }
                })
            }

            let chatH = 0
            const myMesagesH = $('.chat > *')
            for(i of myMesagesH){
                chatH += $(i).height()
            }
            $('.inner-chat-container').scrollTop(chatH)
            //      END             END                  END

        }
    })

   $.ajax({
        url: "/acquaintances",
        method: "get",
        headers: {
            'Authorization': `Bearer ${localStorage.token}`
        },
        success: res => {
            if(res.users){
                for(i of res.users){
                    if(i._id === url){
                        $('.users').append(`
                        <div class="get-user">
                            <a href="/chat/${i._id}" class="user-btn active-user">${i.username}</a>
                        </div>
                    `)
                    }else{
                        $('.users').append(`
                            <div class="get-user">
                                <a href="/chat/${i._id}" class="user-btn user">${i.username}</a>
                            </div>
                        `)
                    }
                }
            }
            
            const drawer = $('#drawer');
            const svgMenu = $('.a__svg-menu');

            svgMenu.click(function(e) {
                e.preventDefault();
                
                drawer.toggleClass('open');
                drawer.css({'left': '2%', 'height': `462px`, 'top': '19.3%', 'width': '14%'})

                $('.create-chat-link').click(e => {
                    e.preventDefault()
  
                    $('.inner-main > *').remove()
                    $('.inner-main').append(`
                        <div class="bg-green-50 p-8 rounded shadow w-full h-full flex flex-col">
                            <h1 class="text-center text-2xl font-bold mb-6">Create chat</h1>
                            <div class="wrap__alert-chat-create">
                
                            </div>
                            <form action="/create-chat" method="post" class="form-create-chat flex flex-col h-full">
                                <div class="mb-4">
                                    <label for="chatName" class="block text-gray-700 text-sm font-bold mb-2">Chat name</label>
                                    <input type="chatName" name="chatName" id="chatName" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                                </div>
                                <div class="mb-4 uniqueChatName-container">
                                    <label for="uniqueChatName" class="block text-gray-700 text-sm font-bold mb-2">Unique chat name</label>
                                    <input type="text" name="uniqueChatName" id="uniqueChatName" class="uniqueChatName appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                                </div>
                                <div class="mb-4 max-users-container">
                                    <label for="max-users" class="block text-gray-700 text-sm font-bold mb-2">Max users in chat</label>
                                    <input type="number" name="maxUsers" id="max-users" class="max-users appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                </div>
                                <div class="flex items-center justify-between mt-auto">
                                    <button type="submit" class="button-submit-create-chat bg-blue-500 w-full hover:bg-blue-400 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline">Create</button>
                                </div>
                            </form>
                        </div>
                    `)

                    $('.uniqueChatName').keydown(e => {
                        setTimeout(() => {
                            const form = $(e.currentTarget)
                            $.ajax({
                                url: "/confirm-unique-chatname",
                                method: "post",
                                headers: {
                                    'Authorization': `Bearer ${localStorage.token}`
                                },
                                data: form.serialize(),
                                success: res => {
                                    if(!res.ok){
                                        $('.alert-confirm-uniqueChat').remove()
                             
                                        $('.button-submit-create-chat').prop('disabled', true);
            
                                        $('.uniqueChatName-container').append(`
                                            <li class="alert-confirm-uniqueChat" style="list-style: none; font-size: 13px; color: #ff5555; margin-top: 3px">${res.message}</li>
                                        `)
                                    }else{
                                        $('.alert-confirm-uniqueChat').remove()
                                        $('.button-submit-create-chat').prop('disabled', false);
            
                                        $('.uniqueChatName-container').append(`
                                            <li class="alert-confirm-uniqueChat" style="list-style: none; font-size: 13px; color: #45d7a2; margin-top: 3px">Unique chat name is available!</li>
                                        `)
                                    }
                                }
                            })
                        }, 0)
                    })

                    $('.form-create-chat').submit(e => {
                        e.preventDefault()
                        const form = $(e.currentTarget)

                        $.ajax({
                            url: '/create-chat',
                            method: "post",
                            data: form.serialize(),
                            headers: {
                                'Authorization': `Bearer ${localStorage.token}`
                            },
                            success: res => {
                                if(res.ok){
                                    socket.emit('join room', uniqueChatName)
                                    window.location.href = '/'
                                }else{
                                    $('.wrap__alert-chat-create').append(`
                                        <div class="alert-confirm-uniqueUsername bg-red-100 mb-4 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                            <strong class="font-bold">Error:</strong>
                                            <span class="block sm:inline">${res.message}</span>
                                            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                                                <svg class="svg-close fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                                            </span>
                                        </div>
                                    `)
                                    $('.svg-close').click(e => {
                                        e.preventDefault()
                                        $('.wrap__alert-chat-create > *').remove()
                                    })
                                }
                            }
                        })
                    })
                   })
            });
            drawer.mouseleave(() => {
                drawer.css({'left': '-20%'})
            })
        }
   })

   //    CHATS      ??       CHATS
   $.ajax({
        url: "/chats",
        method: "get",
        headers: {
            'Authorization': `Bearer ${localStorage.token}`
        },
        success: res => {
            if(res.chats.length > 0){
                for(i of res.chats){
                    if(i._id === url){
                        $('.chats').append(`
                            <div class="get-chat">
                                <a href="/chat/${i._id}" class="active-chat-btn">${i.chatName}</a>
                            </div>
                        `)
                    }else{
                        $('.chats').append(`
                            <div class="get-chat">
                                <a href="/chat/${i._id}" class="chat-btn">${i.chatName}</a>
                            </div>
                        `)
                    }
                    
                }
            }

            
        }
   })
</script>
</html>