<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time chat</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./static/home.css">
</head>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io({
        auth: {
            token: localStorage.getItem('token')
        }
    });

</script>

<body class="bg-blue-50 flex flex-col items-center justify-center min-h-screen">
    <div class="main bg-white p-8 rounded w-full flex">
        <div class="mini-shadow w-1/4 bg-gray-100 p-4 rounded mr-4">
            <div class="mt-4">
                <input type="text" name="query" class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500" placeholder="Search user with ID">
            </div>

            <ul class="users space-y-2 mt-3">
                
            </ul>
        </div>
        <!-- Основной контент чата -->
        <div class="w-3/4">
             <div class="user-info flex justify-between items-center">
                
            </div>
            <div class="chat-container">
                <div class="mini-shadow h-64 overflow-y-auto p-3 border rounded">
          
                    <div class="mb-4 chat">
                        
                    </div>
                   
                </div>
            </div>
            <div class="wrap__form-send-message">

            </div>
            
        </div>
    </div>
</body>


<script>
    socket.on('chat message', () => {

    })

    $('.form-send-message').submit(e => {
        e.preventDefault()
        const form = $(e.currentTarget)

        $.ajax({
            url: form.attr('action'),
            method: 'post',
            data: form.serialize(),
            headers: {
                'Authorization': `Bearer ${localStorage.token}`
            },
            success: res => {
                io.emit('chat message', )
            }
        })
    })
   

   $.ajax({
        url: "/users",
        method: "get",
        headers: {
            'Authorization': `Bearer ${localStorage.token}`
        },
        success: res => {
            if(res.users){
                for(i of res.users){
                    $('.users').append(`
                    <form action="/get-chat/${i._id}" method="get" class="get-chat">
                        <button type="submit" class="user-btn active-user">${i.username}</button>
                    </form>
                    
                    `)
                }
            }
            $('.get-chat').submit(e => {
                e.preventDefault()
                const form = $(e.currentTarget)
        
                $.ajax({
                    url: form.attr('action'),
                    method: 'get',
                    headers: {
                        'Authorization': `Bearer ${localStorage.token}`
                    },
                    success: res => {
                        for(i of res.messages){
                            if(i.sender === res.userNow){
                                $('.chat').append(`
                                <div class="wrap__my-message">
                                    <div class="my-message mb-2">
                                        <p class="text-gray-700 message-text">${i.text}</p>
                                        <li class="date-message">${new Date(i.date_created).toLocaleDateString()}</li>
                                    </div>
                                </div>
                            `)
                            }else{
                                $('.chat').append(`
                                    <div class="wrap__user-message">
                                        <div class="user-message mb-2">
                                            <p class="text-gray-700 message-text">${i.text}</p>
                                            <li class="date-message">${new Date(i.date_created).toLocaleDateString()}</li>
                                        </div>
                                    </div>
                                `)
                            }
                        }

                        //         OTHER  
                        $('.user-info').addClass('mb-2')
                        $('.chat-container').addClass('mb-4')


                        $('.user-info').append(`
                            <h1 class="text-2xl">${res.recipient.username}</h1>
                            <div class="flex items-center">
                                <h4>id:${res.recipient._id}</h4>
                            </div>
                        `)

                        $('.wrap__form-send-message').append(`
                            <form class="form-send-message flex items-center" method="post" action="/send-message/${res.recipient._id}">
                                <input type="text" name="message" class="mini-shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 mr-4 leading-tight focus:outline-none" placeholder="Message...">
                                <button type="submit" class="button-send-message mini-shadow bg-orange-500 hover:bg-orange-400 text-white font-bold py-3 px-4 rounded focus:outline-none w-1/4">Send</button>
                            </form>
                        `)
                    }
                })
            })
        }
   })
</script>
</html>