<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io({
        auth: {
            token: localStorage.getItem('token')
        }
    });

</script>

<style>
    .mini-shadow{
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.04);
    }
</style>

<body class="bg-blue-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded shadow-lg max-w-sm w-full">
        <div class="flex justify-center mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-12 h-12 text-orange-500">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
            </svg>
        </div>
        <h1 class="text-center text-2xl font-bold mb-6">Registration</h1>
        <form action="/registration" method="post" class="form-reg">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input type="text" name="username" id="username" class="mini-shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password" name="password" id="password" class="mini-shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4 uniqueUsername-container">
                <label for="uniqueUsername" class="block text-gray-700 text-sm font-bold mb-2">Unique name</label>
                <input type="text" name="uniqueUsername" id="uniqueUsername" class="uniqueUsername mini-shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="button-submit bg-orange-500 w-full hover:bg-orange-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>
            </div>
        </form>
    </div>

    <script>
        $('.uniqueUsername').keydown(e => {
            setTimeout(() => {
                const form = $(e.currentTarget)

                const data = form.serialize() 
                $.ajax({
                    url: '/confirm-unique-username',
                    method: 'post',
                    data: data,
                    success: res => {
                        if(res.message){
                            $('.alert-confirm-uniqueUsername').remove()
                 
                            $('.button-submit').prop('disabled', true);

                            $('.uniqueUsername-container').append(`
                                <li class="alert-confirm-uniqueUsername" style="list-style: none; font-size: 13px; color: #ff5555; margin-top: 3px">${res.message}</li>
                            `)
                        }else{
                            $('.alert-confirm-uniqueUsername').remove()
                            $('.button-submit').prop('disabled', false);

                            $('.uniqueUsername-container').append(`
                                <li class="alert-confirm-uniqueUsername" style="list-style: none; font-size: 13px; color: #45d7a2; margin-top: 3px">Unique username is available</li>
                            `)
                        }
                    }
                })   
            }, 0)
        })


        $('.form-reg').submit(e => {
            e.preventDefault()
            const form = $(e.currentTarget)
            $.ajax({
                url: '/registration',
                method: 'post',
                data: form.serialize(),
                success: res => {
                    if(res.token){
                        localStorage.setItem('token', res.token)
                        window.location.href = '/'
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('AJAX error:', textStatus, errorThrown);
                }
            })
        })
        
    </script>
</body>
</html>