* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}  
li{
    list-style: none;
}
body{
    background-color: rgb(24 24 24);
}
input{
    color: #efefef;
    background-color: rgb(81 83 86);
}
input[name="query"]{
    background-color: rgb(54, 55, 55);
    border: #585858;
    color: #dddddd;
    outline: none;
}

input[name="message"]{
    background-color: rgb(27 27 27);
    color: #dddddd;
}
label{
    color: #dddddd;
}

.create-chat-container{
    background-color:  rgb(49 49 49);
}
.input-create-chat{
    background-color: #202020;
    border: 1px solid gray;
    color: #dddddd;
}
.lable-create-chat{
    color: #dddddd;
}
.recipient-unique-username{
    color: #dddddd;
}
.h1-user-info{
    color: #dddddd;
}
.mini-shadow{
    box-shadow: 2px 2px 1px rgba(65, 48, 48, 0.04);
}
.svg-close-create-chat{
    right: 2%;
    top: 20%;
}

.button-send-message{
    transition: 0.11s ease-in-out;
    
}

.main{
    height: 70vh;
    background-color: rgb(43 43 43);
}
.inner-main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.my-message{
    padding: 10px;
    display: flex;
    max-width: 90%;
    background-color: rgb(35 57 57);
    border-radius: 3px;
    font-size: 14px;
    display: flex;
}
.wrap__user-message{
    display: flex;
}
.wrap__my-message{
    display: flex;
    justify-content: end;
}
.date-message{
    display: flex;
    justify-content: end;
    font-size: 9px;
    align-items: end;
    margin-left: 5px;
}

.username{
    width: 100%;
}

.no-avatar{
    filter: invert(1);
}

.wrap__user-avatar img {
    border-radius: 50%;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    object-fit: cover;
    object-position: top center;
}

.user-info__username{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
}
.user-info-avatar{
    margin-left: 20px;
}

.get-user{
    display: flex;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    padding: 5px;
    align-items: center;
    border-radius: 2px;
    border-bottom: 1px solid rgb(80, 80, 80);
}
.left-side{
    background-color: rgb(27 27 27);
    position: relative;
}
.user-info {
    background-color: rgb(27 27 27);
    padding: 0.4rem;
}
.user-message{
    font-size: 14px;
    padding: 10px;
    display: flex;
    max-width: 90%;
    justify-content: end;
    background-color: rgb(33 33 33); 
     border-radius: 3px;
}

.not-found-search{
    padding: 10px;
    border-radius: 10px;
    
}

.users{
    overflow: auto;
    max-height: 85%;
    padding-right: 7px;
}
.users::-webkit-scrollbar {
    background-color: #323232;
}

.users::-webkit-scrollbar-thumb {
    background-color: #585858;
}

.users::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a;
}
.active-user{
    background-color: #2d5244;
}
.input-send {
    border: #585858;
}
.user-btn{
    width: 100%;
    color: #dddddd;
}





.button-send-message{
    height: 50px;
}
.input-send{
    height: 50px;
}

.inner-chat-container::-webkit-scrollbar {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.inner-chat-container::-webkit-scrollbar-thumb {
    background-color: #111111;
    border-radius: 0 0.25rem 0.25rem 0;
}

.inner-chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #1c1c1c;
}
.inner-chat-container{
    height: 100%;
    border: 1px solid rgb(20 20 20);
}
.chat-container{
    height: 75%;
}
.message-text-name, .message-text, .date-message{
    color: #dddddd;
}
.chat{
    height: 100%;
}

.button-send-message{
    background-color: rgb(41 54 56);
}
.button-send-message:hover{
    background-color: rgb(56, 72, 74);
}


.a__svg-menu{
    display: contents;
}
.search-form{
    width: 80%;
}
.svg-menu{
    width: 14%; 
    filter: brightness(0.5);
}
.menu-search{
    justify-content: space-between;
    align-items: center;
}
.drawer {
    position: absolute;
    left: -100vh;
    height: 100%;
    top: 0;
    width: 60%;
    align-items: center;
    transition: left 0.3s ease-in-out;
    z-index: 1001;
    opacity: 90%;
    background: #222222;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 4%);
}
.open {
    left: 0;
}
   

.menu{
    padding: 15px;
}
.menu-name{
    color: #dddddd;
    margin-bottom: 10px;
    background: #252525;
    border: 1px solid #000000;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-link{
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    background: #333333;
    color: #dddddd;
}

.button-submit-create-chat{
    background: #325548;
}
.create-chat-h1{
    color: #dddddd;
}


.message-text-name{
    font-size: 10px;
}
.alert-main{
    width: 500px;
    background: #904949;
    border: 1px solid #6e3030;
    color: #ff5f5f;
}
.btn-join{
    width: 100%;
    background: #476058;
    padding: 10px
}


.btn-leave{
    background-color: #e59a9a;
    padding: 5px 15px;
    margin-left: 15px;
}




.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 15px;
    justify-content: space-between;
}
.dark-mode-text{
    color: #dddddd;
}
.toggle-container input[type="checkbox"] {
    display: none;
}
.toggle-container label {
    background-color: #ddd;
    border-radius: 50px;
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 60px;
    transition: background-color 0.3s;
}
.toggle-container label::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 24px;
    left: 3px;
    position: absolute;
    top: 3px;
    transition: transform 0.3s;
    width: 24px;
}
.toggle-container input[type="checkbox"]:checked + label {
    background-color: #2d2d31;
}
.toggle-container input[type="checkbox"]:checked + label::after {
    transform: translateX(30px);
}

.label-avatar{
    color: #dddddd;
}


.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #4d4130;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #40382d;
}
.input-file:active span {
	background-color: #382c1b;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}



.header{
    width: 100%;
    height: 10%;
}
.inner-header{
    background-color: rgb(27 27 27);
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.148);
}
.header-logo{
    width: 20%;
}
.nav{
    width: 60%;
    padding: 5px;
    border-bottom: 1px solid #414141;
}
.svg-right-menu-header{
    width: 50px;
}
.right-menu-header{
    width: 20%;
}
.inner-right-menu-header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.list-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #dddddd;
}
.header-link-logo-svg{
    display: contents;
}
.link-item{
    font-size: 13px;
}
.header-logo-svg{
    width: 50px;
}