* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
li{
    list-style: none;
}
body{

    background: rgb(6 18 49 / 29%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(8.1px);
}
.mini-shadow{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.04);
}

.button-send-message{
    transition: 0.11s ease-in-out;
}

.main{
    height: 70vh;
}
.inner-main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.my-message{
    padding: 10px;
    display: flex;
    max-width: 90%;
    background-color: rgb(190, 227, 227);
    border-radius: 3px;
    font-size: 14px;
    display: flex;
}
.wrap__user-message{
    display: flex;
}
.wrap__my-message{
    display: flex;
    justify-content: end;
}
.date-message{
    display: flex;
    justify-content: end;
    font-size: 9px;
    align-items: end;
    margin-left: 5px;
}
.get-user{
    display: flex;
    margin-bottom: 15px;
    text-align: center;
}
.user-message{
    font-size: 14px;
    padding: 10px;
    display: flex;
    max-width: 90%;
    justify-content: end;
    background-color: rgb(225 222 220);
    border-radius: 3px;
}

.not-found-search{
    padding: 10px;
    border-radius: 10px;
    
}

.users{
    overflow: auto;
    max-height: 85%;
    padding-right: 7px;
    border-bottom: 2px solid #b7b7b7;
}
.users::-webkit-scrollbar {
    background-color: #f5f5f5;
}

.users::-webkit-scrollbar-thumb {
    background-color: #585858;
}

.users::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117, 117, 117);
}
.active-user{
    background-color: rgb(213 229 252);
}

.user-btn{
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(80, 80, 80);
}





.button-send-message{
    height: 50px;
}
.input-send{
    height: 50px;
}

.inner-chat-container::-webkit-scrollbar {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.inner-chat-container::-webkit-scrollbar-thumb {
    background-color: #585858;
    border-radius: 0 0.25rem 0.25rem 0;
}

.inner-chat-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117, 117, 117);
}
.inner-chat-container{
    height: 100%;
}
.chat-container{
    height: 75%;
}
.chat{
    height: 100%;
}

.button-send-message{
    background-color: rgb(136, 190, 196);
}
.button-send-message:hover{
    background-color: rgb(136, 196, 188);
}


.a__svg-menu{
    display: contents;
}
.search-form{
    width: 80%;
}
.svg-menu{
    width: 14% 
}
.menu-search{
    justify-content: space-between;
    align-items: center;
}
.drawer {
    position: absolute;
    top: 0;
    left: -100%;
    width: 10%;
    align-items: center;
    transition: left 0.3s ease-out;
    z-index: 1001;
    opacity: 90%;
    border-left: 2px solid #d0dbe4;
    border-bottom: 2px solid #d0dbe4;
    background: #d7e0e7;
}
.drawer.open {
    left: 3%;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 4%);
    top: 19.3%;
    width: 14%;
    opacity: 90%;
    border-left: 2px solid rgb(222 222 222);
    border-bottom: 2px solid rgb(222 222 222);
}

.menu{
    padding: 15px;
}
.menu-name{
    margin-bottom: 10px;
    background: aliceblue;
    border: 1px solid #dde5f7;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-link{
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    background: #9ac4e5;
    color: white;
}


.get-chat{
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}
.chat-btn{
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #a8a8a8;
    color: #3d3d3d;
}
.active-chat-btn{
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #a8a8a8;
    color: #3d3d3d;
    background-color: #b2d5f9;
}

.message-text-name{
    font-size: 10px;
}
.alert-main{
    width: 500px;
}
.btn-join{
    width: 100%;
    background: #bde8da;
    padding: 10px
}


.btn-leave{
    background-color: #e59a9a;
    padding: 5px 15px;
    margin-left: 15px;
}