@import url('./chatDarkMode.css');

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
li{
    list-style: none;
}
body{
    background-color: aliceblue;
}
.mini-shadow{
    box-shadow: 2px 2px 1px rgba(65, 48, 48, 0.04);
}

input[name="query"], input[name="message"]{
    background-color: white;
    color: #242424;
    border: 1px solid #e5e7eb;;
}

.h1-user-info, .recipient-unique-username  {
    color: #3a3a3a;
}
.username{
    color: #242424;
}

.message-text-name, .message-text, .date-message {
    color: #242424;
}

.svg-close-create-chat{
    right: 2%;
    top: 20%;
}
.create-chat-container{
    background-color: rgb(252 249 243);
}
.button-send-message{
    transition: 0.11s ease-in-out;
}

.main{
    height: 70vh;
    background-color: white;
}
.inner-main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.my-message{
    padding: 10px;
    display: flex;
    max-width: 90%;
    background-color: rgb(190, 227, 227);
    border-radius: 3px;
    font-size: 14px;
    display: flex;
}
.wrap__user-message{
    display: flex;
}
.wrap__my-message{
    display: flex;
    justify-content: end;
}
.date-message{
    display: flex;
    justify-content: end;
    font-size: 9px;
    align-items: end;
    margin-left: 5px;
}


.wrap__user-avatar img {
    border-radius: 50%;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    object-fit: cover;
    object-position: top center;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}
.user-info__username{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}
.user-info-avatar{
    margin-left: 20px;
}

.get-user{
    display: flex;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    padding: 5px;
    align-items: center;
    border-radius: 2px;
    border-bottom: 1px solid rgb(80, 80, 80);
}
.left-side{
    background-color: rgb(243 244 246);
    position: relative;
}
.user-info{
    background-color: rgb(243 244 246);
    padding: 0.4rem;
}
.user-message{
    font-size: 14px;
    padding: 10px;
    display: flex;
    max-width: 90%;
    justify-content: end;
    background-color: rgb(225 222 220);
    border-radius: 3px;
}

.not-found-search{
    padding: 10px;
    border-radius: 10px;
    
}

.users{
    overflow: auto;
    max-height: 85%;
    padding-right: 7px;
}
.users::-webkit-scrollbar {
    background-color: #f5f5f5;
}

.users::-webkit-scrollbar-thumb {
    background-color: #585858;
}

.users::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117, 117, 117);
}
.active-user{
    background-color: rgb(213 229 252);
}
.username{
    width: 100%;
}




.button-send-message{
    height: 50px;
}
.input-send{
    height: 50px;
}

.inner-chat-container::-webkit-scrollbar {
    background-color: rgb(243 244 246);
}

.inner-chat-container::-webkit-scrollbar-thumb {
    background-color: #585858;
    border-radius: 0 0.25rem 0.25rem 0;
}

.inner-chat-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117, 117, 117);
}
.inner-chat-container{
    height: 100%;
    border: 1px solid #e5e7eb;
}
.chat-container{
    height: 75%;
}
.chat{
    height: 100%;
}

.button-send-message{
    background-color: rgb(136, 190, 196);
}
.button-send-message:hover{
    background-color: rgb(136, 196, 188);
}

.button-submit-create-chat{
    background-color: rgb(254 215 170);
    transition: 0.15s ease-in-out;
}
.button-submit-create-chat:hover{
    background-color: rgb(228, 193, 153);
}

.a__svg-menu{
    display: contents;
}
.search-form{
    width: 80%;
}
.svg-menu{
    width: 14%; 
    filter: none;
}
.menu-search{
    justify-content: space-between;
    align-items: center;
}
.drawer {
    position: absolute;
    left: -100vh;
    height: 100%;
    top: 0;
    width: 60%;
    align-items: center;
    transition: left 0.3s ease-in-out;
    z-index: 1001;
    opacity: 90%;
    background: #d7e0e7;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 4%);
}
.open {
    left: 0;
}

.menu{
    padding: 15px;
}
.menu-name{
    margin-bottom: 10px;
    background: aliceblue;
    border: 1px solid #dde5f7;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-link{
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    background: #6e8590;
    color: white;
}

.input-create-chat {
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
    color: #252525
}
.lable-create-chat, .label-avatar, .create-chat-h1 {
    color: #393939
}

.message-text-name{
    font-size: 10px;
}

.alert-main{
    width: 500px;
    background: #ff9090;
    border: none;
    color: #353535;
}

.btn-join{
    width: 100%;
    background: #bde8da;
    padding: 10px
}


.btn-leave{
    background-color: #e59a9a;
    padding: 5px 15px;
    margin-left: 15px;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 15px;
    justify-content: space-between;
}
.dark-mode-text{
    color: #3e3e3e;
}
.toggle-container input[type="checkbox"] {
    display: none;
}
.toggle-container label {
    background-color: #ddd;
    border-radius: 50px;
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 60px;
    transition: background-color 0.3s;
}
.toggle-container label::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 24px;
    left: 3px;
    position: absolute;
    top: 3px;
    transition: transform 0.3s;
    width: 24px;
}
.toggle-container input[type="checkbox"]:checked + label {
    background-color: #2d2d31;
}
.toggle-container input[type="checkbox"]:checked + label::after {
    transform: translateX(30px);
}




.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #bbe9c5;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #99cfa5;
}
.input-file:active span {
	background-color: #73ae80;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}